*, 
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.container{
  position: relative;

  &__textCanvas canvas{
   position: absolute;
   left: 0;
   top: 0;
   z-index: 10;
  }

  // &__treeCanvas canvas {
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   z-index: 0;
  // }
}
