*, 
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.container{
  position: relative;
}

.txt__sketch {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}